[Unit]
Description=Raspi WEB API
Documentation=http://raspi:3000
After=network.target

[Service]
Environment="NODE_PORT=3000"
Environment="NODE_ENV=Production"
Type=simple
User=lampo
ExecStart=/usr/local/bin/node /opt/soittilaweb/app.js
Restart=on-failure

[Install]
WantedBy=multi-user.target