<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AwayHomes</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .section-container {
      max-width: 800px;
      margin-right: auto;
      margin-left: auto;
    }
  </style>
</head>
<body>
  <div id="app" class="container">
    <section class="section section-container" style="padding-top: 24px; padding-bottom: 5px;">
        <h2 class="title">AwayHomes</h2>
        <away-home v-for="awayhome in awayhomes"
            :key="awayhome.name"
            :awayHome="awayhome"
            @save-awayhome="onAddOrUpdateAwayHome" 
            @delete-awayhome="deleteAwayHome" />
    </section>
    <section class="section section-container" style="padding-bottom: 10px;">
      <div class="box">
        <add-update-awayhome title="Add AwayHome" @save-awayhome="onAddOrUpdateAwayHome" />
      </div>
    </section>
  </div>
  <script>
  const AddUpdateAwayHome = {
    props: ['awayhome', 'title'],
    data () {
      return {
        id: this.awayhome ? this.awayhome.id : null,
        startDate: this.awayhome ? this.awayhome.startDate : '',
        startTime: this.awayhome ? this.awayhome.startTime : '',
        stopDate: this.awayhome ? this.awayhome.stopDate : '',
        stopTime: this.awayhome ? this.awayhome.stopTime : '',
      }
    },
    methods: {
      save() {
        this.$emit('save-awayhome', { id: this.id, startDate: this.startDate, startTime: this.startTime, stopDate: this.stopDate, stopTime: this.stopTime })
        if (!this.id) {
          this.startDate = ''
          this.startTime = ''
          this.stopDate = ''
          this.stopTime = ''
        }
      }
    },
    template: `
      <form class="form" @submit.prevent="save">
        <h3 class='subtitle'>{{ title }}</h3>
        <div class="field">
            <label>Start Date</label>
            <div class="control">
              <input class="input" type="text" v-model="startDate">
            </div> 
        </div>
        <div class="field">
            <label>Start time</label>
            <div class="control">
              <input class="input" type="text" v-model="startTime">
            </div> 
        </div>
        <div class="field">
            <label>Stop Date</label>
            <div class="control">
              <input class="input" type="text" v-model="stopDate">
            </div> 
        </div>
        <div class="field">
            <label>Stop time</label>
            <div class="control">
              <input class="input" type="text" v-model="stopTime">
            </div> 
        </div>
        <div class="field">
            <div class="control">
              <button class="button is-success">Save</button>
            </div> 
        </div>
      </form>
    `
  }

  const AwayHome = {
    props: ['awayhome'],
    components: { 'add-update-awayhome': AddUpdateAwayHome },
    data () {
      return {
        showDetail: false
      }
    },
    methods: {
      onAddOrUpdateAwayHome(awayhome) {
        this.$emit('save-awayhome', awayhome)
      },
      deleteAwayHome (awayhome) {
        this.$emit('delete-awayhome', awayhome)
      }
    },
    template: `
      <div class="card">
        <header class="card-header">
          <p @click="showDetail = !showDetail" class="card-header-title">
            Start:  {{ awayhome.startDate }} {{ awayhome.startTime }}
            Stop:  {{ awayhome.stopDate }} {{ awayhome.stopTime }}
          </p>
          <a class="card-header-icon" @click.stop="deleteAwayHome(awayhome)">
            <span class="icon">
              <i class="fa fa-trash"></i>
            </span>
          </a>
        </header>
        <div v-show="showDetail" class="card-content">
            <add-update-awayhome title="Details" :awayhome="awayhome" @save-awayhome="onAddOrUpdateAwayHome" />
        </div>
      </div>
    `
  }

  new Vue({
    el: '#app',
    components: { AwayHome: AwayHome, 'add-update-awayhome': AddUpdateAwayHome },
    data: {
      awayhomes: [],
      apiURL: window.location.origin + '/api/awayHomes'
    },
    methods: {
      onAddOrUpdateAwayHome (awayhome) {
        if (awayhome.id) {
          this.updateAwayHome(awayhome)
        } else {
          this.addAwayHome(awayhome)
        }
      },
      addAwayHome (awayhome) {
        return axios.post(this.apiURL, awayhome)
          .then((response) => {
            const copy = this.awayhomes.slice()
            copy.push(response.data)
            this.awayhomes = copy
          })
      },
      updateAwayHome (awayhome) {
        return axios.put(`${this.apiURL}/${awayhome.id}`, awayhome)
          .then((response) => {
            const copy = this.awayhomes.slice()
            const idx = copy.findIndex((c) => c.id === response.data.id)
            copy[idx] = response.data
            this.awayhomes = copy
          })
      },
      deleteAwayHome (awayhome) {
        return axios.delete(`${this.apiURL}/${awayhome.id}`)
          .then((response) => {
            let copy = this.awayhomes.slice()
            const idx = copy.findIndex((c) => c.id === response.data.id)
            copy.splice(idx, 1)
            this.awayhomes = copy
          })
      }
    },
    beforeMount () {
      axios.get(this.apiURL)
        .then((response) => {
          this.awayhomes = response.data
        })
    }
  })

  </script>
</body>
</html>